li a {
    color: green;
    background-color: blanchedalmond;
}

body {
    background: white url("images/background2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
